.s-header
  height: 100vh
  display: flex
  flex-wrap: wrap

.s-header__panel
  position: absolute
  top: 0
  left: 0
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
  height: 106px
  line-height: 30px
// Style for "SWIEZERYBY"
.s-header__logo
  display: block
  color: $white
  font-family: $titleText
  font-size: 25px
  text-transform: uppercase
  font-weight: 700
  text-decoration: none
  span
    color: $white
  &_light
    font-weight: 400
  &_extra-light
    font-weight: 200
  &:hover
    box-shadow: 0 1px 0 $white

// Style for "HOME     O"
.menu
  position: relative
  display: flex
  width: 610px
  justify-content: space-between
  align-items: center
  &__btn:hover
    .s-header__tel_btn
      box-shadow: 0 1px 0 $white
  &__item
    &_active .menu__link,
    &:hover .menu__link,
      box-shadow: 0 1px 0 $white

.s-header__tel_btn
  color: $white
  text-decoration: none

.menu__link
  color: $white
  font-family: $titleText
  font-size: 14px
  font-weight: 700
  text-transform: uppercase
  text-decoration: none

.s-header__content
  width: 100%
  height: auto
  font-weight: 700
  text-transform: uppercase
  color: $white
  text-align: center

.s-header__content_title
  font-family: $titleText
  font-size: 79px

.s-header__content_text
  font-size: 22px
// end header
